html,
body {
  font-family: Arial;
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  background-color: #1a1a1a;
}

html .hidden {
  display: none;
}

h1,
select,
.enable-button,
.asset-interface {
  display: block;
  margin: 40px auto;
}

h1, h2 {
  text-align: center;
}

button, select {
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0px 2px 4px 1px #00000040;
  cursor: pointer;
}

label {
  font-weight: bold;
  font-size: 14px;
}

select {
  display: block;
  padding: 15px 50px 15px 32px;
  appearance: none;
  outline: none;
  background-color: #073E2E;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20d%3D%22M5%207L1%203H9L5%207Z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 20px;
}

.asset-interface select {
  padding: 8px 26px 9px 12px;
  background-size: 14px;
  background-position: 92% 50%;
}

.enable-button {
  padding: 15px 32px;
}

.enable-button {
  background-color: #037dd6;
}

.enable-button:hover {
  background-color: #0494fb;
}

.asset-interface button {
  width: 86px;
  margin: 0px 2px;
  padding: 8px;
  background-color: #00D395;
}

.asset-interface button:hover {
  background-color: #00ffb3;
}

.asset-interface [type=text] {
  width: 53px;
  padding: 6px;
  text-align: center;
  font-size: 14px;
  background-color: #f0f0f0;
  border-radius: 3px;
  border: none;
}

.asset-interface {
  width: 325px;
  height: 226px;
  display: grid;
  align-items: center;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 20px 36px 50px 50px 50px 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #070A0E;
  border: solid 1px #4d4d4d;
  border-radius: 8px;
}

.asset-interface .row1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.asset-interface .row2 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.asset-interface .row3 {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

.asset-interface .row4 {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}

.balances {
  display: block;
  text-align: left;
}

.account-table-container {
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 1100px;
  min-height: 350px;
  color: #FFFFFF;
  background-color: #070A0E;
  border: solid 1px #4d4d4d;
  border-radius: 8px;
  max-height: 75vh;
  overflow: scroll;
}

.account-table-container .table .header-row,
.account-table-container .table .row {
  display: flex;
  margin: 20px 0px;
  overflow: hidden;
  align-items: center;
}

.account-table-container .table .header-row,
.account-table-container .table .header-row .cell {
  font-weight: bold;
  text-overflow: initial;
  white-space: normal;
  max-height: 100px;
}

.account-table-container .table .cell {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 8px;
  box-sizing: border-box;
  text-overflow: initial;
  width: 25%;
  height: 100%;
  text-align: center;
  word-wrap: break-word;
  line-height: 20px;
  max-height: 62px;
  white-space: initial;
  overflow: hidden;
}

.account-table-container .table .cell.cell-shimmer {
  width: 85%;
  margin: auto;
}

.account-table-container .table.loading .row .cell .shimmer {
  width: 100%;
  height: 14px;
  border-radius: 14px;
  background: #151f29;
  vertical-align: middle;
  display: inline-block;
}

.shimmer {
  color: grey;
  display:inline-block;
  -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 1.5s infinite;
  font-size: 50px;
  width: 100%;
}

@keyframes shimmer {
  100% {-webkit-mask-position:left}
}

.liquidatable {
  background-color: #990000;
}

.last-update {
  display: block;
  text-align: center;
  padding: 20px;
}
